.contacts-list-container {
    width: 80vw;
    overflow-x: scroll;
    margin: 20px auto; /* Add some margin for spacing and center the container */
}
.contacts-list-header {
    width: 80%;
    margin: 10 auto;
    display: flex;
    
}

.contacts-list-content {
    width: 80%;
    margin: 10 auto;
    display: flex;
    flex-wrap: wrap;
}
