/* Toolbar.css */
@import url('../../AppTheme.css');

.toolbar {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

h1{
    margin-left: 20px;
}

.toolbar-title {
    color: white;
    margin: auto 0;
}

.toolbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.toolbar .nav-links {
    display: flex;
    gap: 15px;
}

.toolbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.toolbar .nav-links a:hover {
    text-decoration: underline;
}

.sign-in{
    background-color: var(--primary-color)e;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sign-in:hover {
    background-color: white;
    color: var(--primary-color);
}

.sign-out{
    background-color: var(--primary-color)e;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sign-out:hover {
    background-color: white;
    color: var(--primary-color);
}