/* Define CSS variables in the :root selector */
:root {
  --primary-color: #3498DB; /* Your primary color */
  --secondary-color: #2980B9; /* A secondary color for hover effects or accents */
}

/* Styling for header */
.header {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Styling for secondary button */
.button-secondary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  background-color: #2980B9;
}

/* Centered container */
.centered {
  text-align: center;
}

/* App logo styling */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Styling for contact form container */
.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Styling for form header */
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Styling for form labels */
.contact-form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Styling for form input fields */
.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container input[type="tel"],
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling for form submit button */
.contact-form-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form-container button[type="submit"]:hover {
  background-color: #2980B9;
}

/* Styling for date input field */
.contact-form-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}