/* Define CSS variables in the :root selector */
:root {
  --primary-color: #003366; /* Your primary color */
  --secondary-color: #63c6ff; /* A secondary color */
  --background-color-blue: #abdffd; /* Accent color */
  --accent-color-grey: #a8a8a8;
  --background-color-grey: #dbdbdb; /* Background color */
  --primary-text-color: #2C3E50; /* Primary text color */
  --primary-button-hover: #9cd7ff; /* A secondary color for hover effects or accents */
  
}

/* Styling for header */
.header {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

/* Styling for secondary button */
.button-secondary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-secondary:hover {
  background-color: #2980B9;
}

/* Centered container */
.page-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* App logo styling */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Styling for contact form container */
.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Styling for h1 */
h1 {
  text-align: center;
  color: var(--primary-color);
  margin: 100px;
  font-size: 48px;
}

/* Styling for form header */
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 36px; /* Added attribute to make the font size bigger */
}

/* Styling for form labels */
.contact-form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Styling for form input fields */
.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container input[type="tel"],
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styling for form submit button */
.button-primary {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: var(--primary-button-hover);
  color: rgb(77, 77, 77);
}

/* Styling for form submit button */
.button-cancel {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c; /* Red color for cancel button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-cancel:hover {
  background-color: #c0392b; /* Darker red for hover effect */
}

/* Styling for date input field */
.contact-form-container input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}